@import "../index/base.css";
body {
  padding-bottom: 60px;
}
/*登录*/
body {
  background: #fff;
}
.admin_login {
  margin: 160px auto;
  width: 322px;
  border: 1px solid #ddd;
  border-radius: 2px;
  box-shadow: 0 0 10px 0 #ddd;
  padding: 26px 46px 32px;
  color: #333;
}
.admin_login label {
  margin-bottom: 14px;
  display: block;
  font-weight: 400;
}
.admin_login p {
  margin: 4px 0 20px;
  font-size: 18px;
  color: #666;
  text-align: center;
}
.admin_login input:focus {
  border-color: #ff5e1e;
}
.admin_login input,
.admin_login button {
  border: 1px solid #aaa;
  width: 100%;
  border-radius: 2px;
  line-height: 30px;
  padding: 0 6px;
}
.admin_login button {
  background: #ff5e1e;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 16px;
  line-height: 32px;
}
/*发布博客 编辑博客*/
.preview {
  height: 600px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: content-box;
  overflow: auto;
  padding: 6px 10px;
}
.preview h1,
.preview h2,
.preview h3,
.preview h4,
.preview h5,
.preview h6 {
  color: #585858;
  margin: 10px 0;
}
.preview h1 {
  margin: 20px 0;
}
.preview pre {
  border: 1px solid #ddd;
  margin: 10px 0;
  background: #fafafa;
  border-left: 2px solid #ff5e1e;
  padding: 4px 8px;
  border-radius: 3px;
  text-indent: 0;
  line-height: 1.5em;
  overflow-x: scroll;
}
.preview p code {
  color: #ff5e1e;
  background: #fff3ee;
  padding: 0 4px;
}
.preview table {
  background: #fafafa;
  border-collapse: collapse;
  margin-top: 20px;
}
.preview table td,
.preview table th {
  border: 1px solid #ddd;
  padding: 5px;
}
.preview table tr:nth-of-type(2n) {
  background: #fff;
}
